
/* css */

/* Rectangle 2 */

.txtbox1background {
position: absolute;
width: 557px;
height: 643px;

background: #E5E5E5;
border-radius: 30px;
}
/* Rectangle 4 */

.txtbox2background {
position: absolute;
width: 557px;
height: 643px;


background: #E5E5E5;
border-radius: 40px;
}

/* rectangle  */

/* .scrollheader {
position: fixed;
width: 1450px;
height: 184px;
left: 0px;
top: 0px;
z-index: 2;
background: linear-gradient(180deg, #98B7C0 75.23%, rgba(196, 196, 196, 0) 100%);
} */

/* instructions */
.instuBk {
width: 938px;
height: 443px;


background: #E5E5E5;
border-radius: 40px;
}


/* TITLES */
h3 {
font-family: Sunflower, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 50px;
text-align: center;


color: #226E86;
}

/* MAIN TITLE */

h1 {
font-family: Bowlby One, cursive;
font-style: normal;
font-weight: normal;
text-align: center;
background: radial-gradient(168.89% 316.89% at 50% 50%, #C26363 0%, rgba(194, 99, 99, 0.166667) 99.99%, rgba(34, 110, 134, 1) 100%, rgba(194, 99, 99, 0) 100%);
/* linear-gradient(0deg, #226E86, #226E86); */
font-size: 60px;

z-index: 3;
}

/* BY WHO */

h2 {
font-family: Bowlby One, cursive;
font-style: normal;
font-weight: normal;
font-size: 25px;
text-align: center;

z-index: 2;

color: #3A3A3A;
}

p, ol, ul {
font-family: Yaldevi Colombo, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 25px;

/* text-align: center; */

color: #3A3A3A;
}


/* title back */
.titleback {
  position: fixed;
  width: 1450px;
  height: 184px;

  z-index: 1;

  background: linear-gradient(180deg, #98B7C0 75.23%, rgba(196, 196, 196, 0) 100%);
}


/* subtitles */

h5 {
font-family: Sunflower;
font-style: normal;
font-weight: 500;
font-size: 37px;
text-align: center;


color: #C26363;
}
